@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@page "/game"
@inject LocalStorage Storage
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous">
<h1>Games</h1>
<div class="row justify-content-center"><button class="btn btn-primary">Create Game</button>
</div><table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Game</th>
            <th>Players</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
            <td>
                @foreach (var player in _players)
                {
                    <span class="player_lbl">@player.Name</span>
                }
                <input value="@PlayerName"
                        @onchange="@((ChangeEventArgs e) => PlayerName = e.Value.ToString())" />
                <button @onclick="AddPlayer"><span class="fa fa-plus"></span></button>
                <button @onclick="RemovePlayer" class="fa fa-minus"></button>
            </td>
            <td><button class="btn btn-success">Start</button></td>
        </tr>
    </tbody>
</table>
<style>
    .player_lbl{
        background: teal;
        border-radius: 5px;
        padding: 5px;
        display: block;
        margin-bottom: 5px;
    }
</style> 

@code
{
    private List<Player> _players = new List<Player>();
    public string PlayerName { get; set; }
    private void AddPlayer(MouseEventArgs e)
    {
        _players.Add(new Player
        {
            Name = PlayerName
            

        });
        PlayerName = null;
    }

    private void RemovePlayer(MouseEventArgs e)
    {
        _players.RemoveAt(_players.Count -1);
    }
}